@page "/explorer"
@using LeagueToolkit.Core.Wad;
@using Microsoft.WindowsAPICodePack.Dialogs;
@using Obsidian.Data.Wad;
@using Obsidian.Data;
@using Obsidian.Services;
@using Obsidian.Utils;
@using PhotinoNET;

<style>
    /*.mud-tabs-toolbar-wrapper > div.d-inline-block {
            border-top: 1px solid #ffffff1e;
            border-left: 1px solid #ffffff1e;
        }

        .mud-tabs-toolbar-wrapper:nth-last-child(-n+1) {
            border-left: none;
            border-right: 1px solid #ffffff1e;
        }*/
</style>

<MudPaper>
    <MudPaper Elevation="25">
        <MudToolBar Dense DisableGutters Class="relative">
            <MudMenu Dense Class="ml-4" Icon="@Icons.Material.TwoTone.Archive" Color="Color.Inherit"
                     AnchorOrigin="Origin.BottomLeft" Size="Size.Medium">
                <MudMenuItem Icon="@CustomIcons.Material.ArchiveEdit" IconColor="Color.Primary" IconSize="Size.Small"
                             OnClick="OpenWad">
                    Open
                </MudMenuItem>
                <MudDivider />
                <MudMenuItem Icon="@CustomIcons.Material.ContentSaveAll" IconColor="Color.Primary" IconSize="Size.Small"
                             Disabled="@(ActiveTab is null)"
                             OnClick="@ExtractAll">
                    Extract All
                </MudMenuItem>
                <MudMenuItem Icon="@CustomIcons.Material.ContentSave" IconColor="Color.Primary" IconSize="Size.Small"
                             Disabled="@(ActiveTab?.SelectedFiles.Count() is (0 or null))"
                             OnClick="@ExtractSelected">
                    Extract Selected
                </MudMenuItem>
            </MudMenu>
            <MudSpacer />
            @if (ActiveTab is not null)
            {
                <div style="position: absolute; top: 48px; right: 8px; z-index: 100; width: 32rem">
                    <MudStack Row Spacing="1" AlignItems="AlignItems.Start">
                        <MudTooltip Text="Regex" Color="Color.Dark">
                            @if (ActiveTab.UseRegexFilter)
                            {
                                <MudIconButton Class="mt-1"
                                       Icon="@CustomIcons.Material.CodeJson" Size="Size.Small" Color="Color.Primary"
                                       Variant="Variant.Filled"
                                       OnClick="ToggleActiveTabRegexFilter" />
                            }
                            else
                            {
                                <MudIconButton Class="mt-1"
                                       Icon="@CustomIcons.Material.CodeJson" Size="Size.Small" Color="Color.Inherit"
                                       Variant="Variant.Filled"
                                       OnClick="ToggleActiveTabRegexFilter" />
                            }
                        </MudTooltip>
                        <MudTextField Class="mt-0"
                                  DebounceInterval="500" @bind-Value="ActiveTab.Filter"
                                  Label="Filter" Variant="Variant.Filled" />
                    </MudStack>
                </div>

            }
        </MudToolBar>
    </MudPaper>
    <MudDivider />
    <MudTabs @bind-ActivePanelIndex="_activeTabId" Position="Position.Bottom">
        <ChildContent>
            @foreach (WadTabModel wadTab in this.Tabs)
            {
                <MudTabPanel Text="@wadTab.Name" Tag="@wadTab.Id">
                    <TabWrapperContent>
                        <div class="wad-tab-header-wrapper">
                            @context
                        </div>
                    </TabWrapperContent>
                    <ChildContent>
                        <CascadingValue Value="this">
                            <CascadingValue Value="JsRuntime">
                                <CascadingValue Value="ActiveTab">
                                    <TreeView ItemsFlat="@GetVisibleItemsForActiveTab()" Height="calc(100vh - 109px)" ItemSize="30f">
                                        <ItemTemplate>
                                            <TreeWadItem Item="@context" />
                                        </ItemTemplate>
                                    </TreeView>
                                </CascadingValue>
                            </CascadingValue>
                        </CascadingValue>
                    </ChildContent>
                </MudTabPanel>
            }
        </ChildContent>
        <TabPanelHeader>
            <MudTooltip Text="Close">
                <MudIconButton Class="ml-1" Color="Color.Error" Icon="@Icons.Material.TwoTone.Close"
                               OnClick="(_) => RemoveWadTab(context)" />
            </MudTooltip>
        </TabPanelHeader>
    </MudTabs>

    <MudOverlay DarkBackground Visible="_isLoadingWadFile" ZIndex="9999">
        <MudProgressCircular Indeterminate Color="Color.Primary" />
    </MudOverlay>
    <MudOverlay DarkBackground Visible="_isExportingFiles" ZIndex="9999">
        @*https://stackoverflow.com/a/61865580*@
        <MudProgressLinear Rounded Indeterminate
                           Class="my-6" Style="width: 500px"
                           Color="Color.Primary" Size="Size.Large" />
        <MudText Class="unselectable-text" Align="Align.Center" Typo="Typo.body1">
            Extracting files...
        </MudText>
    </MudOverlay>
</MudPaper>
