@page "/explorer"
@using LeagueToolkit.Core.Wad;
@using Microsoft.WindowsAPICodePack.Dialogs;
@using Obsidian.Data.Wad;
@using Obsidian.Data;
@using Obsidian.Services;
@using Obsidian.Utils;
@using PhotinoNET;
@using Microsoft.AspNetCore.Components;

<style>
    .wad-tab-close-button {
        border-radius: 0%;
    }

        .wad-tab-close-button:hover {
            background-color: transparent !important;
        }

            .wad-tab-close-button:hover > .mud-icon-button-label > svg {
                fill: #ff3f5fff;
            }

    .mud-tab {
        text-transform: none;
    }

    .mud-tab-slider {
        box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);
    }

    .mud-tabs-panels {
        background: rgb(58,59,71);
        background: linear-gradient(0deg, rgba(58,59,71,1) 0%, rgba(50,51,61,1) 100%);
    }
</style>

<MudPaper>
    <MudPaper Elevation="25">
        <MudToolBar Dense DisableGutters>
            <MudMenu Dense Class="ml-4" Icon="@Icons.Material.TwoTone.Archive" Color="Color.Inherit"
                     AnchorOrigin="Origin.BottomLeft" Size="Size.Medium">
                <MudMenuItem Icon="@CustomIcons.Material.ArchiveEdit" IconColor="Color.Primary" IconSize="Size.Small"
                             OnClick="OpenWad">
                    Open
                </MudMenuItem>
                <MudDivider />
                <MudMenuItem Icon="@CustomIcons.Material.ContentSaveAll" IconColor="Color.Primary" IconSize="Size.Small"
                             Disabled="@(ActiveTab is null)"
                             OnClick="@ExtractAll">
                    Extract All
                </MudMenuItem>
                <MudMenuItem Icon="@CustomIcons.Material.ContentSave" IconColor="Color.Primary" IconSize="Size.Small"
                             Disabled="@(ActiveTab?.CheckedFiles.Count() is (0 or null))"
                             OnClick="@ExtractSelected">
                    Extract Selected
                </MudMenuItem>
            </MudMenu>
            <MudMenu Dense Class="ml-4" Icon="@CustomIcons.Material.Hexadecimal" Color="Color.Inherit"
                     AnchorOrigin="Origin.BottomLeft" Size="Size.Medium">
                <MudMenuItem Icon="@CustomIcons.Material.TableArrowUp" IconColor="Color.Primary" IconSize="Size.Small"
                             OnClick="LoadHashtable">
                    Load hashtable
                </MudMenuItem>
            </MudMenu>
            <MudSpacer />
            @if (ActiveTab is not null)
            {
                <MudStack AlignItems="AlignItems.Center" Style="width: 33%">
                    <WadFilter FullWidth @ref="WadFilterComponent" @bind-Filter="ActiveTab.Filter" @bind-UseRegexFilter="ActiveTab.UseRegexFilter" />
                </MudStack>
            }
        </MudToolBar>
    </MudPaper>
    <MudDivider />
    <MudTabs @ref="_tabsComponent" @bind-ActivePanelIndex="ActiveTabId" Position="Position.Bottom" Elevation="6">
        <ChildContent>
            @foreach (WadTabModel wadTab in this.Tabs)
            {
                <MudTabPanel Text="@wadTab.Name" Tag="@wadTab.Id">
                    <TabWrapperContent>
                        <div class="wad-tab-header-wrapper">
                            @context
                        </div>
                    </TabWrapperContent>
                    <ChildContent>
                        <MudSplitter EnableSlide DisableMargin @ref="_splitter" Sensitivity="2.5f" DimensionChanged="OnDimensionChanged">
                            <StartContent>
                                <div style="position: relative; width: 100%">
                                    <CascadingValue Value="this">
                                        <CascadingValue Value="JsRuntime">
                                            <CascadingValue Value="ActiveTab">
                                                <TreeView ItemsFlat="@GetVisibleItemsForActiveTab()" Height="calc(100vh - 109px)" ItemSize="44f">
                                                    <ItemTemplate>
                                                        <TreeWadItem Item="@context" />
                                                    </ItemTemplate>
                                                </TreeView>
                                            </CascadingValue>
                                        </CascadingValue>
                                    </CascadingValue>
                                </div>
                            </StartContent>
                            <EndContent>
                                <WadFileImagePreview WadTab="wadTab" />
                                @if (wadTab.CurrentPreviewType is WadFilePreviewType.Viewport)
                                {
                                    <WadFileViewport WadTab="wadTab" />
                                }
                            </EndContent>
                        </MudSplitter>
                    </ChildContent>
                </MudTabPanel>
            }
        </ChildContent>
        <TabPanelHeader>
            <MudIconButton DisableRipple
                           Class="ml-1 wad-tab-close-button" Color="Color.Inherit" Icon="@Icons.Material.TwoTone.Close"
                           Size="Size.Medium"
                           OnClick="(_) => RemoveWadTab(context)" />
        </TabPanelHeader>
    </MudTabs>

    <MudOverlay DarkBackground Visible="_isLoadingWadFile" ZIndex="9999">
        <MudProgressCircular Indeterminate Color="Color.Primary" />
    </MudOverlay>
    <MudOverlay DarkBackground Visible="_isExportingFiles" ZIndex="9999">
        @*https://stackoverflow.com/a/61865580*@
        <MudProgressLinear Rounded Indeterminate
                           Class="my-6" Style="width: 500px"
                           Color="Color.Primary" Size="Size.Large" />
        <MudText Class="unselectable-text" Align="Align.Center" Typo="Typo.body1">
            Extracting files...
        </MudText>
    </MudOverlay>
    <MudOverlay DarkBackground Visible="_isLoadingHashtable" ZIndex="9999">
        <MudProgressLinear Rounded Indeterminate
                           Class="my-6" Style="width: 500px"
                           Color="Color.Primary" Size="Size.Large" />
    </MudOverlay>
    <MudOverlay DarkBackground Visible="_isLoadingPreview" ZIndex="9999">
        <MudProgressCircular Indeterminate Color="Color.Primary" />
    </MudOverlay>
</MudPaper>