@using Microsoft.WindowsAPICodePack.Dialogs;
@using Obsidian.Data.Wad;
@using Obsidian.Data;
@using Obsidian.Pages;
@using Obsidian.Utils;
@using Serilog;

<div class="tree-view-item-wrapper cursor-pointer @(Item.IsSelected ? "tree-view-item-wrapper-selected" : "")"
     style="height: 36px"
     @ondblclick="OnRowDoubleClick" @ondblclick:stopPropagation @ondblclick:preventDefault>
    <MudMenu Dense PositionAtCurser
             FullWidth="false" ActivationEvent="MouseEvent.RightClick" Size="Size.Small">
        <ChildContent>
            <MudMenuItem Icon="@Icons.Material.TwoTone.CopyAll" IconSize="Size.Small" IconColor="Color.Primary"
                         OnClick="@CopyPathToClipboard">
                <MudText Typo="Typo.subtitle2">Copy Path</MudText>
            </MudMenuItem>
            <MudMenuItem Icon="@Icons.Material.TwoTone.CopyAll" IconSize="Size.Small" IconColor="Color.Primary"
                         OnClick="@CopyNameToClipboard">
                <MudText Typo="Typo.subtitle2">Copy Name</MudText>
            </MudMenuItem>
            <MudDivider />
            @if (this.Item.Type is WadTreeItemType.File)
            {
                <MudMenuItem Icon="@CustomIcons.Material.ContentSave" IconSize="Size.Small" IconColor="Color.Primary"
                         OnClick="@Save">
                    <MudText Typo="Typo.subtitle2">Save</MudText>
                </MudMenuItem>
            }
            <MudDivider />
            <MudMenuItem Icon="@Icons.Material.TwoTone.Code" IconSize="Size.Small" IconColor="Color.Primary">
                <MudTooltip Delay="150" Placement="Placement.Right" Color="Color.Dark">
                    <ChildContent>
                        <MudText Typo="Typo.subtitle2">Details</MudText>
                    </ChildContent>
                    <TooltipContent>
                        <MudStack Spacing="1" AlignItems="AlignItems.Start">
                            <MudText Typo="Typo.subtitle2">
                                @Item.Path
                            </MudText>
                            @if (Item is WadTreeFileModel file)
                            {
                                <MudText Typo="Typo.subtitle2">
                                    XXHash: @string.Format("{0:x16}", file.Chunk.PathHash)
                                </MudText>
                                <MudText Typo="Typo.subtitle2">
                                    Compressed Size: @file.Chunk.CompressedSize
                                </MudText>
                                <MudText Typo="Typo.subtitle2">
                                    Uncompressed Size: @file.Chunk.UncompressedSize
                                </MudText>
                            }
                        </MudStack>
                    </TooltipContent>
                </MudTooltip>
            </MudMenuItem>
        </ChildContent>
        <ActivatorContent>
            <table class="tree-view-item" style="height: 36px;">
                <tr @key="Item.Id"
                    @onclick="OnRowClick">
                    @for (int i = 0; i < Item.Depth; i++)
                    {
                        <td class="tree-view-item-childrenLine" />
                    }
                    <td style="vertical-align: middle; width: 20px">
                        @if (Item.Type is WadTreeItemType.Directory)
                        {
                            <MudIconButton Icon="@(Item.IsExpanded ? Icons.Material.TwoTone.KeyboardArrowDown : Icons.Material.TwoTone.KeyboardArrowRight)"
                                       Color="Color.Inherit" Size="Size.Small"
                                       OnClick="@OnToggleExpand" @ondblclick:stopPropagation />
                        }
                    </td>
                    <td style="width: 28px">
                        <MudCheckBox StopClickPropagation
                                     Dense
                                     T="bool"
                                     Checked="@IsChecked"
                                     CheckedChanged="@OnCheckedChanged"
                                     Color="Color.Primary" Size="Size.Small" />
                    </td>
                    <td style="text-align: center; width: 24px">
                        <MudIcon Class="d-block" Icon="@Item.Icon" Size="Size.Small" Color="@(Item.IsHighlighted ? Color.Primary : Color.Inherit)" />
                    </td>
                    <td class="tree-view-item-name">
                        <MudHighlighter Class="mud-primary-text" Style="background-color: transparent; font-weight: bold;"
                                        Text="@Item.Name" HighlightedText="@WadTree.Filter" />
                    </td>
                </tr>
            </table>
        </ActivatorContent>
    </MudMenu>
</div>
