@using Obsidian.Data.Wad;
@using Obsidian.Pages;

<style>
    .tree-view-item-wrapper {
        width: 100%;
        padding-left: 2rem;
    }

        .tree-view-item-wrapper:hover {
            background-color: #0000000a;
        }

    .tree-view-item {
        width: 100%;
        table-layout: fixed;
    }

    .tree-view-item-name {
        user-select: none;
        white-space: nowrap;
        width: 100%;
        vertical-align: middle;
    }
</style>

<div class="tree-view-item-wrapper cursor-pointer"
     @ondblclick="OnRowDoubleClick" @ondblclick:stopPropagation @ondblclick:preventDefault>
    <table class="tree-view-item" style="@($"padding-left: {Item.Depth * 20}px;")">
        <tr @key="Item.Id" style="height: 30px;">
            <td style="vertical-align: middle; width: 2%">
                @if (Item.Type is WadItemType.Folder)
                {
                    <MudIconButton Icon="@(Item.IsExpanded ? Icons.Material.TwoTone.KeyboardArrowDown : Icons.Material.TwoTone.KeyboardArrowRight)"
                               Color="Color.Inherit" Size="Size.Small"
                               OnClick="@OnToggleExpand" @ondblclick:stopPropagation />
                }
            </td>
            <td style="width: 3%">
                <MudCheckBox @bind-Checked="Item.IsChecked" Color="Color.Primary" Size="Size.Small" />
            </td>
            <td style="text-align: center; width: 2%">
                @if (Item.Type is WadItemType.File)
                {
                    <MudIcon Class="d-block" Icon="@Icons.Custom.FileFormats.FileDocument" Size="Size.Small" Color="Color.Inherit" />
                }
                else if (Item.Type is WadItemType.Folder)
                {
                    <MudIcon Class="d-block" Icon="@Icons.Material.TwoTone.Folder" Size="Size.Small" Color="Color.Inherit" />
                }
            </td>
            <td class="tree-view-item-name">
                <MudText Class="d-block">@Item.Name</MudText>
            </td>
        </tr>
    </table>
</div>

@code {
    [CascadingParameter]
    public ExplorerPage Root { get; set; }

    [Parameter]
    public WadItemModel Item { get; set; }

    private void OnRowDoubleClick(MouseEventArgs e)
    {
        if (this.Item is WadFolderModel folder)
            OnToggleExpand();
    }

    private void OnToggleExpand()
    {
        this.Item.IsExpanded = !this.Item.IsExpanded;
        this.Root.RefreshState();
    }
}
